body {
	background-color: #ffffff;
	background-image: none;
}

#header-container{
	background-color: #000000;
}

#top-products-container{
	background-color: #f0f0f0;
	padding: 13px;
}


ul#nav li a{
	background: rgba(0, 0, 0, 0) url("images/sample_menu_icon.png") no-repeat scroll 0 7px;
	border-bottom: medium none;
	color: #a3a2a2;
	font-weight: normal;
	padding-left: 20px;
}


ul#nav li a:hover, ul#nav .current-menu-item a{
	border-bottom: none;
}

#top-products{
	margin: 0 auto;
	max-width: 940px;
}

#top-products li{
	float: left;
	text-align: center;
	width: 16%;
}

#home-banner {
	margin-bottom: 5px;
}

#home-half-banners{
	margin-bottom: 5px;
}

#home-half-banners div.half-banner{
	float: left;
	width: 49.5%
}

#home-half-banners div:nth-child(2){
	float: right;
}

.double-cloumn{
	 padding: 10px 20px;
}

.products li{

}

.home-product-wrapper{
	background-color: #ececec;
	border: medium none;
	border-radius: 0;
	padding-bottom: 10px;
	text-align: center;
}

.home-product-title{
	background-color: rgba(0, 0, 0, 0.7);
	margin-top: -17%;
	position: relative;
	width: 100%;
	z-index: 999;
}

.home-product-title h3{
	color: #ffffff;
	font-weight: normal;
}

.customize-button {
	background-color: #00cdd7;
	border: medium none;
	border-radius: 4px;
	box-shadow: 1px 2px 2px #00a6a3;
	color: #fff;
	display: inline-block;
	float: none;
	font-size: 16px;
	letter-spacing: 0.55px;
	padding: 8px;
}

.badge-icon-block{
 	margin-top: 20px;
	padding-bottom: 30px;
}

.badge-icon-block h3{
	font-size: 21px;
	padding-bottom: 20px;
	text-align: center;
} 

#pre-footer-container{
	background-color: #666666;
}

.pf-phone-number{
	background: rgba(0, 0, 0, 0) url("images/phone-icon.png") no-repeat scroll 0 4px;
	color: #fff;
	font-weight: normal;
	padding-left: 50px;
}

#footer-newsletter{
	padding-bottom: 35px;
}

#footer-newsletter h3{
	font-size: 23px;
	letter-spacing: 1px;
	padding-bottom: 23px;
	text-align: center;
}

#footer-newsletter p{
	text-align: center;
}

#footer-newsletter .mc-field-group{
	background: rgba(0, 0, 0, 0) url("images/subscribe-icon.png") no-repeat scroll 0 0;
	margin-top: 15px;
	padding-left: 120px;
	padding-top: 6px;
}

#footer-newsletter .mc-field-group input{
	border: medium none;
	border-radius: 1px;
	float: left;
	width: 50%;
}

#footer-newsletter .mc-field-group button{
	background-color: #00c3cd;
	float: left;
	margin: 0;
	width: 27%;
}

#footer-container{
	background-color: #F0F0F0;
}

.footer-widgets{
	border-top: 1px solid #e7e7e7;
	padding-top: 30px;
}

#footer h4 {
	color: #737373;
}

#footer a {
 	 color: #737373;
}

.footer-text{
	  border-top: 1px solid #e7e7e7;
	  color: #737373;
	  text-align: center;
}

.footer-text p{
  	float: none;
}

@media only screen and (max-width: 600px){
	#top-products li{
		text-align: left;
		width: 28%;
		height: 50px;
		margin-left:1.5%; 
	}

	#footer-newsletter .mc-field-group{
		background: none;
		margin-top: 15px;
		padding-left: 0px;
		padding-top: 6px;
	}

	#footer-newsletter .mc-field-group input{
		width: 55%;
	}

	#footer-newsletter .mc-field-group button{
		width: 39%;
	}

	#footer h4 {
		text-align: center;
	}

	.footer-widgets li.column li{
		text-align: center;
	}
}

@media only screen and (max-width: 500px){
	#home-half-banners div:nth-child(2){
		float: left;
	}

	#home-half-banners div{
		width: 99%;
	}
}
