.ready-made {
	/*margin: 0 0 0 16px;*/
}

.ready-hidden {
	display: none;
}

/* Ready made product switch */
.ready-made .products {
	margin: -2.5%;
	overflow: hidden;
}

.ready-made .products .product {
	background: #565a66;
	box-sizing: border-box;
	cursor: pointer;
	float: left;
	margin: 2.5%;
	max-width: 180px;
	position: relative;
	width: 45%;
}

.ready-made .products .product-image img {
	height: 16%;
	max-width: 100%;
}

.ready-made .products .product-wrap {
	padding: 16% 8%;
}

.ready-made .products .product-title {
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 1px;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}

.ready-made .products .product-title .high {
	font-size: 20px;
	font-weight: 800;
	letter-spacing: 0;
}


@media (min-width: 600px) and (max-width: 720px) {
	.ready-made .products .product-title {
		font-size: 12px;
	}
	.ready-made .products .product-title .high {
		font-size: 16px;
	}
}

@media (min-width: 720px) and (max-width: 780px) {
	.ready-made .products .product-title {
		font-size: 14px;
	}
	.ready-made .products .product-title .high {
		font-size: 18px;
	}
}

.ready-made .products .product .select-btn {
	background: #03b865;
	color: #fff;
	display: block;
	font-weight: bold;
	margin: 26px auto 0;
	max-width: 122px;
	text-align: center;
	text-transform: uppercase;
	height: 32px;
	line-height: 32px;
	width: 80%;
}

.ready-made .products .product:hover .borders,
.ready-made .products .product.selected .borders {
	bottom: 0;
	border: 4px solid #00bc8e;
	left: 0;
	position: absolute;
	pointer-events: none;
	right: 0;
	top: 0;
}

.ready-made .product-tip {
	color: #000;
	font-size: 16px;
	margin: 8px 0 0;
}

.ready-made .product-more {
	margin: 32px 0 0;
}

/* Ready made product title, description, rating */
.ready-made .product-description {
	color: #000;
	line-height: 1.2;
	margin: 0;
}

.ready-made .product-description h1,
.ready-made .product-description h2,
.ready-made .product-description h3,
.ready-made .product-description h4,
.ready-made .product-description h5 {
	color: #000;
	font-weight: bold;
	margin: 0 0 16px;
}

.ready-made .product-description h1 {
	font-size: 22px;
}
.ready-made .product-description h2 {
	font-size: 20px;
}
.ready-made .product-description h3 {
	font-size: 18px;
}
.ready-made .product-description h4 {
	font-size: 16px;
}
.ready-made .product-description h5 {
	font-size: 15px;
}

.ready-made .product-rating {
	margin: 16px 0 0;
}

/* Ready made product info */
.ready-made .product-info {
	overflow: hidden;
}

.ready-made .product-info-price {
	color: #000;
	float: left;
	font-size: 28px;
	font-weight: bold;
	margin: 16px 0 0;
	max-width: 112px;
	width: 40%;
}

.ready-made .product-info-advantages {
	background: url(images/ready_made/advantage.png) 0 0 no-repeat;
	color: #000;
	float: left;
	font-size: 12px;
	line-height: 1;
	margin: 16px 0 0;
	min-height: 18px;
	padding: 0 0 0 28px;
	width: 60%;
}

/* Ready made product rows */
.ready-made .product-row {
	margin: 16px 0;
	padding: 0 28px 0 0;
	position: relative;
	overflow: hidden;
}

.ready-made .product-row-title {
	color: #000;
	font-size: 16px;
	margin: 0 0 8px;
}

/* Status Icon */
.ready-made .product-status-icon {
	background: url(images/ready_made/status-icon.png) no-repeat;
	height: 18px;
	opacity: .25;
	position: absolute;
	right: 0;
	width: 18px;
}
.ready-made .status_ok .product-status-icon {
	opacity: 1;
}

.ready-made .product-colour .product-status-icon {
	top: 46px;
}

.ready-made .product-size .product-status-icon {
	top: 36px;
}

/* Ready made product colour */
.ready-made .colours {
	margin: -4px;
	overflow: hidden;
}

.ready-made .colours .colour {
	cursor: pointer;
	float: left;
	margin: 4px;
	width: 45px;
}

.ready-made .colours .colour .image {
	display: block;
	height: 43px;
	margin: 2px;
	width: 45px;
}

.ready-made .colours .colour .image img {
	display: block;
	max-width: 100%;
}

.ready-made .colours .colour .name {
	display: block;
	font-size: 10px;
	line-height: 1;
	margin: 4px 2px 2px;
}

.ready-made .colours .colour:hover {
	color: #2cc5cc;
}

.ready-made .colours .colour:hover .image,
.ready-made .colours .colour.selected .image {
	border: 2px solid #00c3cd;
	margin: 0;
}

.ready-made .colours .colour:hover .name,
.ready-made .colours .colour.selected .name {
	margin-top: 2px;
}

.ready-made .product-columns {
	margin: 0 -2.5%;
	overflow: hidden;
}

.ready-made .product-column {
	float: left;
	margin: 0 2.5%;
}

/* Ready made product quantity & size */
.ready-made .column-quantity {
	overflow: hidden;
}

.ready-made .column-quantity .quantity-btn {
	background: #c5e3db;
	color: #8a9e99;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 18px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	width: 30px;
}
.ready-made .column-quantity .btn-minus {
	margin: 4px 5px 0 0;
}
.ready-made .column-quantity .btn-plus {
	margin: 4px 0 0 5px;
}

.ready-made .column-quantity .input {
	background: #fff;
	border: 1px solid #d2d2d2;
	border-radius: 2px;
	box-sizing: border-box;
	color: #000;
	float: left;
	font-size: 14px;
	height: 34px;
	line-height: 32px;
	margin: 0;
	padding: 0 8px;
	text-align: center;
	width: 38px;
}

.ready-made .column-size .select {
	background: #fff;
	border: 1px solid #d2d2d2;
	border-radius: 2px;
	box-sizing: border-box;
	color: #000;
	float: left;
	font-size: 14px;
	height: 34px;
	line-height: 32px;
	margin: 0;
	max-width: 192px;
	padding: 0 8px;
	text-align: center;
	width: 100%;
}

.ready-made .column-size .require-custom {
	margin: 14px 0 0;
}
.ready-made .column-size .require-custom a {
	color: #94afaf;
	font-size: 12px;
	text-decoration: underline;
}

/* Ready made product extras */
.ready-made .extras {
	margin: -5px;
	overflow: hidden;
}

.ready-made .extras .extra {
	cursor: pointer;
	float: left;
	margin: 5px;
}

.ready-made .extras .extra span {
	display: block;
}

.ready-made .extras .extra-name {
	font-size: 16px;
	margin: 0 0 12px;
}

.ready-made .extras .extra-image {
	border: 1px solid #d9d9d9;
	height: 82px;
	width: 82px;
}

.ready-made .extras .extra-image img {
	display: block;
	max-width: 100%;
}

.ready-made .extras .extra-radio {
	background: url(images/ready_made/radio.jpg) 0 0 no-repeat;
	float: left;
	margin: 8px 0 0;
	height: 20px;
	width: 20px;
}

.ready-made .extras .extra-price {
	float: left;
	font-size: 22px;
	font-weight: bold;
	margin: 8px 0 0 4px;
}

.ready-made .extras .extra:hover {
	color: #2cc5cc;
}
.ready-made .extras .extra.selected .extra-radio {
	background-position: -20px 0;
}

/* Ready made totals */
.ready-made-totals {
	background: #f2f2f2;
	line-height: 1;
	margin: 28px 0 0;
	padding: 10px 10px 10px 16px;
	overflow: hidden;
}

.ready-made-totals .total-price {
	float: left;
}
.ready-made-totals .total-price-caption {
	font-size: 12px;
	margin: 0 0 4px;
}
.ready-made-totals .total-price-value {
	color: #333333;
	font-size: 20px;
	font-weight: bold;
}

.ready-made-totals .plus-delivery-charges {
	color: #333333;
	float: left;
	font-size: 16px;
	line-height: 20px;
	padding: 8px 0 8px 12px;
}

.ready-made-totals .add-to-cart {
	float: right;
}
.ready-made-totals .add-to-cart-btn {
	background: #03b865;
	box-sizing: border-box;
	color: #fff;
	display: block;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	height: 34px;
	line-height: 34px;
	padding: 0 8px;
	width: 142px;
}

@media (max-width: 924px) {
	.ready-made-totals .add-to-cart {
		clear: both;
		float: none;
		padding: 8px 0 0;
	}
	.ready-made-totals .add-to-cart-btn {
		margin-left: auto;
		margin-right: auto;
	}
}

/* Ajax */
.ready-made.ajax_loading {
	position: relative;
}

.ready-made.ajax_loading .ajax-frame {
	background-color: rgba(255, 255, 255, .75);
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(images/ajax-loader.gif);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
