/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */

 body{
    overflow-x: hidden;
 }

 @media (min-width:768px) {
    #main-wrapper {
        padding-left: 0;
    }
    #sidebar-wrapper {
        display: none;
        width: 0;
    }
}


@media (max-width: 767px) {
    .mobile-logo a { display: inline-block; margin: 20px 0 0 16px; }

    .mobile-logo img { width: 75%; }

    #side-toggle { float: right; font-size: 18px; margin: 13px; color: #fff; }

    #main-wrapper {
        padding-left: 0;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

  /*  #main-wrapper.toggled {
        padding-left: 250px;
    }*/

    #sidebar-wrapper {
        border-right: 1px solid #1BBED1;
        -webkit-box-shadow: 3px 5px 14px -3px rgba(0,0,0,0.11);
        -moz-box-shadow: 3px 5px 14px -3px rgba(0,0,0,0.11);
        box-shadow: 3px 5px 14px -3px rgba(0,0,0,0.11);
        position: fixed;
        left: -320px;
        width: 320px;
        height: 100vh;
        overflow-x: hidden;
        background: #1BBED1;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        z-index: 9999;
    }

    #sidebar-wrapper .container-fluid { padding: 0; }

    #main-wrapper.toggled #sidebar-wrapper {
        left: 0;
    }

    #page-content-wrapper {
        width: 100%;
    }

    #page-content-overlay { transition: background 0.15s linear; }

    #main-wrapper.toggled #page-content-overlay {
        position: absolute;
        opacity: 0.6;
        height: 100%;
        z-index: 1000;
        background: #fff;
        width: 100%;
    }

    /* Sidebar Styles */

    .sidebar-nav {
        position: absolute;
        top: 0;
        width: 320px;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .sidebar-nav li a { color: #fff; display: block; font-size: 16px; padding: 10px 16px; text-decoration: none; }

    li.panel > ul.panel { padding: 0 15px; }

    li.panel { background-color: transparent; border: 0; margin-bottom: 0; box-shadow: none; -webkit-box-shadow: none;}

    #menu-main-menu > li > ul { background: #16a8b9; }

    #menu-main-menu > li > ul > li > ul { background: #fff; padding-left: 20px; }

    #menu-main-menu > li > ul > li > a { text-indent: 10px; }

    #menu-main-menu > li > ul > li > ul a { border-top: 0; color: #000; }

    #menu-main-menu > li > ul > li > ul a i, .menu-gallery i, .menu-blog i { display: none; }

    #menu-main-menu li i { float: right; margin-top: 3px; }

    #menu-main-menu a[aria-expanded=true] .glyphicon-chevron-right {
        display: none;
        transition: display 0.15s linear;
    }
     #menu-main-menu a[aria-expanded=false] .glyphicon-chevron-down {
        display: none;
        transition: display 0.15s linear;
    }
}